@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "./ckeditor.css";
@import "./light-theme.scss";
@import "./dark-theme.scss";

html {
    overflow-y: scroll;
}

body.modal-open {
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    /* keep padding right when modal-open */
}

.round-btn {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-btn {
    background-color: white;
    color: black;
}

.text-orange {
    color: #f5c518;
}

.tag-search-spin {
    width: 30px;
    height: 30px;
}

.ck-editor__main {
    border-color: rgb(204, 206, 209);
}

.ck-content {
    border-color: inherit !important;
}

/* effect */
.image-hover-effect:hover {
    background-color: var(--bs-tertiary-bg);
}

.cursor-pointer {
    cursor: pointer;
}

/* custom width */
.w-100percent {
    width: 100%;
}

/* custom height */
.h-100percent {
    height: 100%;
}

.h-auto {
    height: auto;
}

/* custom padding */
.pt-10 {
    padding-top: 6rem;
}

/* custom background color */
.bg-gray {
    background-color: lightgray;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

/* custom border color */

/* z-index */
.z-index-99 {
    z-index: 99;
}

.zindex-fixed {
    z-index: 1030;
}

.zindex-popover {
    z-index: 1070;
}

.zindex-tooltip {
    z-index: 1080;
}