@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";
@import "./ckeditor.css";

html {
    overflow-y: scroll;
}

body.modal-open {
    padding-right: calc(var(--bs-gutter-x) * .5) !important;/* keep padding right when modal-open */
}

.cursor-pointer {
    cursor: pointer;
}

.round-btn {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-btn {
    background-color: white;
    color: black;
}

.text-orange {
    color: #f5c518;
}

.tag-search-spin{
    width: 30px; 
    height: 30px;
}

.ck-editor__main{
 border-color: rgb(204, 206, 209);
}

.ck-content{
 border-color: inherit !important;
}

/* custom button */
.common-btn:hover {
    background-color: var(--bs-tertiary-bg);
}

/* custom width */
.w-256px{
    width: 256px;
}

/* custom height */
.h-auto{
    height: auto;
}
.h-160px{
    height: 160px;
}

/* custom background color */
.bg-gray {
    background-color: lightgray;
}
.bg-whitesmoke {
    background-color: whitesmoke;
}

/* custom border color */
.border-gray {
    border-color: rgb(204, 206, 209);
}